{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>DATOS DEL PERFIL </h3>
            </div>
            <div class="col-sm-4"></div>
        </div>


        <div class="row">
            
            <div class="col-12">
                <hr>
                <form  method="POST">{% csrf_token %}

                    {{ form_usuario.as_p }}
                    

                    {{ form.as_p }}

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i data-feather="check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrInicio()">
                                <i data-feather="x-circle"></i>
                                Cancelar
                            </button>
                        </div>                        
                    </div>
                    <hr>
                </form>
            </div>
            
        </div>
        
    </div>


{% endblock %}



{% block js_extra %}

    <script>
        $(document).ready(function () {
            $('#id_especialidad').select2();      
            $("#id_username").last().addClass("form-control");
            $("#id_password1").last().addClass("form-control");
            $("#id_password2").last().addClass("form-control");
        });
    
    </script>


    <script>
        function IrInicio() {
            window.location.replace("/");
        }
    </script>

{% endblock %}