{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h3>DETALLE PRESENTACION DE MEDICAMENTO</h3>
            </div>

            <div class="col-sm-3"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% if mensaje %}
                    <div class="alert alert-danger" role="alert">
                        {{mensaje}}
                    </div>
                {% endif %}

            </div>
        </div>
    

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="frm_datos" method="POST">{% csrf_token %}

                    {{ form.as_p}}
                  
                    <br>

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoPresentacionMedica()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>


            </div>
        </div>


    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var editar = false;
        var paciente_obrasocial = "";

        $(document).ready(function () {

        });

        function EditarPacienteObraSocial(){
            LimpiarTablaModal();

            var str_url = window.location.href;
            str_url = str_url.split("/");
            var id_paciente = str_url.slice(-2)[0]

            var obrasocial = $("#id_obrasocial").val();
            var numeroafiliado = $("#id_numeroafiliado").val();
            var observacion = $("#id_observaciones").val();            

            var JsonObj = new Object();

            JsonObj = {
                "paciente": id_paciente,
                "paciente_obrasocial": paciente_obrasocial,
                "obrasocial": obrasocial,
                "numeroafiliado": numeroafiliado,
                "observaciones": observacion,
            }

            $.ajax({
                type: "POST",
                url: "/ajax-editarpacienteobrasocial/",
                data: {
                    datos: JSON.stringify(JsonObj),
                }, 
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('<tr id="' + item.id_obrasocial + '">').append(
                            $('<td>').text(item.id_pacienteobrasocial),
                            $('<td>').text(item.descripcion),
                            $('<td>').text(item.numeroafiliado),
                            $('<td>').text(item.observaciones),
                            $('<td>').html('<button type="button" class="btn btn-link btn-sm btnSelect" onclick="javascript:LeerFilaTablaModal()"><i class="fas fa-pencil-alt"></i></button>')).appendTo('#tabla-pacienteobrasocial')
                    });
                    LimpiarFormularioModal();
                }
            });

            editar = false;
        }


        function GrabarPacienteObraSocial(){
            LimpiarTablaModal();


            if(editar==true){
                EditarPacienteObraSocial()
            }else{

                var str_url = window.location.href;
                str_url = str_url.split("/");
                var id_paciente = str_url.slice(-2)[0]

                var obrasocial = $("#id_obrasocial").val();
                var numeroafiliado = $("#id_numeroafiliado").val();
                var observacion = $("#id_observaciones").val();            

                var JsonObj = new Object();

                JsonObj = {
                    "paciente": id_paciente,
                    "obrasocial": obrasocial,
                    "numeroafiliado": numeroafiliado,
                    "observaciones": observacion,
                }

                $.ajax({
                    type: "POST",
                    url: "/ajax-nuevopacienteobrasocial/",
                    data: {
                        datos: JSON.stringify(JsonObj),
                    }, 
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('<tr id="' + item.id_obrasocial + '">').append(
                                $('<td>').text(item.id_pacienteobrasocial),
                                $('<td>').text(item.descripcion),
                                $('<td>').text(item.numeroafiliado),
                                $('<td>').text(item.observaciones),
                                $('<td>').html('<button type="button" class="btn btn-link btn-sm btnSelect" onclick="javascript:LeerFilaTablaModal()"><i class="fas fa-pencil-alt"></i></button>')).appendTo('#tabla-pacienteobrasocial')
                        });
                        LimpiarFormularioModal();
                    }
                });
            }
            editar = false; 
        }

        function IrListadoPresentacionMedica() {
            window.location.replace("/presentacionmedicalistado");
        }

        function LimpiarFormularioModal(){
            $("#id_obrasocial").val("");
            $("#id_numeroafiliado").val("");
            $("#id_observaciones").val("");
        }

        function LimpiarTablaModal(){
            $("#tabla-pacienteobrasocial > tbody").html("");
        }

        function LeerFilaTablaModal(){
            
            $("#tabla-pacienteobrasocial").on('click','.btnSelect',function(){
                var fila=$(this).closest("tr");
                paciente_obrasocial=fila.find("td:eq(0)").text();

                var nroafiliado=fila.find("td:eq(2)").text();
                var observaciones=fila.find("td:eq(3)").text();

                $("#id_obrasocial").val(fila[0].id);
                $("#id_numeroafiliado").val(nroafiliado);
                $("#id_observaciones").val(observaciones);
            });

            editar = true;
            return editar;
        }


    </script>

{% endblock %}