{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>DETALLE ATENCION</h3>
            </div>

            <div class="col-sm-4"></div>
        </div>    

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="frm_datos" method="POST">{% csrf_token %}

                    <label>Paciente</label>

                    
                        <select name="paciente" class="form-control" required="" id="id_paciente">
                            {% for p in paciente %}
                                <option value="{{p.pk}}">{{p.apellido.upper}}, {{p.nombre.upper}} </option>
                            {% endfor %}
                        </select>
                    
                    <br>
                    <label>Especialidad</label>
                        <select name="especialidad" class="form-control" required="" id="id_especialidad">
                            {%if especialidadupdate %}
                                <option value="{{especialidadupdate.pk}}" selected>{{especialidadupdate.descripcion.upper}} </option>
                                {% for e in especialidades %}
                                    {% if e.pk != especialidadupdate.pk %}
                                        <option value="{{e.pk}}">{{e.descripcion.upper}} </option>
                                    {%endif%}
                                {% endfor %}
                            {%else%}
                                {% for e in especialidades %}
                                    {% if e.predeterminada == True %}
                                        <option value="{{e.pk}}" selected>{{e.descripcion.upper}} </option>
                                    {%else%}
                                        <option value="{{e.pk}}">{{e.descripcion.upper}} </option>
                                    {%endif%}
                                {% endfor %}
                            {%endif%}
                        </select>

                    <hr>

                    <div class="row" id="mensaje" style="display: none;">
                        <div class="alert alert-danger form-control" role="alert">
                            <label>ESTE PACIENTE YA TIENE UNA ATENCION CON ESA PRACTICA</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                            <button class="btn btn-primary" id="btn-guardar" type="button" onclick="GrabareImprimir()">
                                <i class="fas fa-save"></i>
                                Grabar e Imprimir
                                <i class="fas fa-print"></i>
                            </button>
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoAtencion()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <br>
                </form>

                <table class="table table-hover" id="tablaHistorial">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Escuela</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Especialidad</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var editar = false;
        var paciente_obrasocial = "";

        $(document).ready(function () {
            document.getElementById("id_especialidad").addEventListener("change", ConsultaAtencion);
            ConsultaAtencionHistorial();
        });


        function ConsultaAtencion(){
            var paciente = $("#id_paciente").val();
            var especialidad = $("#id_especialidad").val();
            
            $.ajax({
                type: "GET",
                url: "/ajaxconsultaatencion/",
                data: {
                    "paciente" : paciente,
                    "especialidad" : especialidad
                }, 
                success: function (data) {
                    var divmensaje = document.getElementById("mensaje")

                    console.log(data.existe);
                    
                    if(data.existe=="1"){
                        document.getElementById("mensaje").style.display = "block";
                    }else{
                        document.getElementById("mensaje").style.display = "none";
                    }
                }
            });
        }


        function ConsultaAtencionHistorial(){
            var paciente = $("#id_paciente").val();
            
            $.ajax({
                type: "GET",
                url: "/ajaxconsultaatencionhistorial/",
                data: {
                    "paciente" : paciente,
                }, 
                success: function (data) {

                    $.each(data, function(index, value) {
                        fecha = new Date(value.fecha);
                        
                        
                        contenido = "<tr>";
                        contenido = contenido + "<td>"+ fecha.toLocaleDateString() +"</td>";
                        contenido = contenido + "<td>" + value.escuela__descripcion.toUpperCase() + "</td>";
                        contenido = contenido + "<td>" + value.paciente__apellido.toUpperCase() + "</td>";
                        contenido = contenido + "<td>" + value.paciente__nombre.toUpperCase() + "</td>";
                        contenido = contenido + "<td>" + value.especialidad__descripcion.toUpperCase() + "</td>";
                        contenido = contenido + "</tr>";
                        $("#tablaHistorial tbody").append(contenido);
                        
                    });
                }
            });
        }


        function GrabareImprimir(){
            var paciente = $("#id_paciente").val();
            var especialidad = $("#id_especialidad").val();
            
            $.ajax({
                type: "POST",
                url: "/ajaxgrabareimprimir/",
                data: {
                    "paciente" : paciente,
                    "especialidad" : especialidad
                }, 
                success: function (data) {
                    console.log(data);
                    location.href= '/renderticket/' + data.atencion
                }
            });
        }

   
        function IrListadoAtencion() {
            window.location.replace("/atencioneslistado");
        }

        function LimpiarTabla() {   
            $("#tablaHistorial > tbody").html("");
        } 


    </script>

{% endblock %}