{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>DETALLE ATENCION</h3>
            </div>

            <div class="col-sm-4"></div>
        </div>    

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="frm_datos" method="POST">{% csrf_token %}

                    <label>Paciente</label>

                    {% for pa in paciente %}
                        <select name="paciente" class="form-control" required="" id="id_paciente">
                            <option value="{{pa.pk}}">{{pa.apellido}}, {{pa.nombre}} </option>
                        </select>
                    {% endfor %}
                    
                    
                    <br>
                    <label>Especialidad</label>
                    {{ form.especialidad}}

                    <hr>

                    <div class="row" id="mensaje" style="display: none;">
                        <div class="alert alert-danger form-control" role="alert">
                            <label>ESTE PACIENTE YA TIENE UNA ATENCION CON ESA PRACTICA</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoAtencion()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>

            </div>
        </div>


    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var editar = false;
        var paciente_obrasocial = "";

        $(document).ready(function () {

            $('#modal-obrasocial').on('shown.bs.modal', function (e) {
                LimpiarFormularioModal();
            })

            $('#modal-obrasocial').on('hidden.bs.modal', function (e) {
                window.location.reload()
            })
           
            $('#id_profesional_tratante').select2({
                language: {
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                }
            });
            document.getElementById("id_especialidad").addEventListener("change", ConsultaAtencion);

        });



        function ConsultaAtencion(idatencion){
            var paciente = $("#id_paciente").val();
            
            $.ajax({
                type: "GET",
                url: "/ajaxconsultaatencion/",
                data: {
                    "atencion" : idantecion,
                }, 
                success: function (data) {
                    var divmensaje = document.getElementById("mensaje")

                    console.log(data.existe);
                    
                    if(data.existe=="1"){
                        console.log("trueeee")
                        //divmensaje.style.display = 'visible';
                        document.getElementById("mensaje").style.display = "block";
                    }else{
                        console.log("falseeee")
                        document.getElementById("mensaje").style.display = "none";
                        //divmensaje.style.display = 'none';
                    }
                }
            });
        }


                 
        function IrListadoAtencion() {
            window.location.replace("/atencioneslistado");
        }

    </script>

{% endblock %}