
<!DOCTYPE html>



<script>

    function Popup(data) 
            {
                var myWindow = window.open('', 'Receipt', 'height=400,width=600');
                myWindow.document.write('<html><head><title>Receipt</title>');
                /*optional stylesheet*/ //myWindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
                myWindow.document.write('<style type="text/css"> *, html {margin:0;padding:0;} </style>');
                myWindow.document.write('</head><body>');
                myWindow.document.write(data);
                myWindow.document.write('</body></html>');
                myWindow.document.close(); // necessary for IE >= 10

                myWindow.onload=function(){ // necessary if the div contain images

                    myWindow.focus(); // necessary for IE >= 10
                    myWindow.print();
                    myWindow.close();
                    //history.back();
                    window.location.replace("/pacientelistado/");
                };
            }

    function PrintElem()
    {
        var htmltemplate ="'<style> body { font-size: 12px; font-family:Calibri; } table { font-size: 12px; font-family:Calibri; } </style> <table style='width:100%'>   <tr>  POR NUETRA GENTE TODO - 2022 <td align ='right'></td> </tr>     <tr> <td align ='left'>FECHA</td> <td align ='right'>{{atencion.fecha}}</td> </tr> <tr> <td align ='left'>ESCUELA</td> <td align ='right'>{{atencion.escuela.descripcion.upper}}</td>  </tr> <tr> <td align ='left'>ATENCION</td> <td align ='right'>{{atencion.especialidad.descripcion.upper}}</td> </tr> <tr> <td align ='left'>Paciente</td> <td align ='right'>{{atencion.paciente.apellido.upper}}, {{atencion.paciente.nombre.upper}}</td> </tr>  </table>"
        Popup(htmltemplate);
    }


    document.onreadystatechange = function () {
        if (document.readyState == "interactive") {
            PrintElem();
        }
    }
</script>
</html>

