{% extends 'base.html' %}

{% block content %}

    <div class="container">

        <br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h3>DATOS DE PACIENTES</h3>
            </div>

            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                {% if mensaje %}
                    <div class="alert alert-danger" role="alert">
                        {{mensaje}}
                    <!--button type="button" class="btn btn-link btn-sm" onclick="location.href='/pacienteobrasocialnuevo/'">
                            <i class="fas fa-pencil-alt"></i>
                    </button-->

                    <button type="button" data-toggle="modal" data-target="#modal-obrasocial" class="btn btn-link btn-sm">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    </div>
                {% endif %}

                {% if paciente_obrassociales %}
                    
                    <div class="alert alert-secondary" role="alert">
                        OBRA SOCIAL: EL PACIENTE POSEE OBRA SOCIAL REGISTRADA
                        <button type="button" data-toggle="modal" data-target="#modal-obrasocial" class="btn btn-link btn-sm">
                            <i class="fas fa-pencil-alt"></i>
                        </button>

                    </div>
                {% endif %}
            </div>
        </div>
    

        <div class="row">
            <div class="col-12">
                <hr>
                <form id="frm_datos" method="POST">{% csrf_token %}

                    {{ form.as_p}}
                  
                    <br>

                    <hr>

                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary" id="btn-guardar" type="submit">
                                <i class="fas fa-check"></i>
                                Aceptar
                            </button>
                        </div>

                        <div class="col-8">
                        </div>

                        <div class="col-2">    
                            <button type="button" class="btn btn-danger" id="btn-cancelar" onclick="IrListadoPaciente()">
                                <i class="far fa-times-circle"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>
                    <hr>
                </form>


                <div class="modal fade" id="modal-obrasocial">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Obras Sociales</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

                            <form id="form-pacienteobrasocial">
                                {{form_obrasocial.as_p}}
                            </form>

                            <table class="table table-hover" id="tabla-pacienteobrasocial">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Obra Social</th>
                                        <th>Numero de Afiliado</th>
                                        <th>Observacion</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                
                                <tbody>
                                    {% if paciente_obrassociales %}
                                        {% for obrasocial in paciente_obrassociales %}
                                            <tr id="{{obrasocial.obrasocial.pk}}">
                                                <td>{{obrasocial.pk}}</td>
                                                <td>{{obrasocial.obrasocial.descripcion.upper}}</td>
                                                <td>{{obrasocial.numeroafiliado}}</td>
                                                <td>{{obrasocial.observaciones}}</td>
                    
                                                <td>
                                                    <button type="button" class="btn btn-link btn-sm btnSelect" onclick="javascript:LeerFilaTablaModal()">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer justify-content-between">
                            
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                <i class="fas fa-times-circle"></i>
                                Cerrar
                            </button>
                            
                            <button type="button" class="btn btn-primary" onclick="javascrit:GrabarPacienteObraSocial()">
                                <i class="fas fa-save"></i> 
                                Guardar
                            </button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>        

            </div>
        </div>


    </div>

{% endblock %}


{% block js_extra %}

    <script>

        var editar = false;
        var paciente_obrasocial = "";

        $(document).ready(function () {

            $('#modal-obrasocial').on('shown.bs.modal', function (e) {
                LimpiarFormularioModal();
            })

            $('#modal-obrasocial').on('hidden.bs.modal', function (e) {
                window.location.reload()
            })
           
            $('#id_profesional_tratante').select2({
                language: {
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                }
            });

            $('#id_diagnostico').select2({
                language: {
                    inputTooShort: function() {
                        return 'Por favor ingrese 2 caracteres';
                    },
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                },
                minimumInputLength: 2,
                ajax: {
                    url: '/ajaxcatalogo/',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });


            $('#modal-select-obra-social').select2({
                language: {
                    inputTooShort: function() {
                        return 'Por favor ingrese 2 caracteres';
                    },
                    noResults: function() {
                        return "No se encontraron resultados";
                    },
                },
                minimumInputLength: 2,
                ajax: {
                    url: '/ajaxobrasocial/',
                    processResults: function (data) {
                        return {
                            results: $.map(data, function (item) {
                                return {
                                    text: item.text,
                                    id: item.id
                                }
                            })
                        };
                    }
                }
            });

        });

        function EditarPacienteObraSocial(){
            LimpiarTablaModal();

            var str_url = window.location.href;
            str_url = str_url.split("/");
            var id_paciente = str_url.slice(-2)[0]

            var obrasocial = $("#id_obrasocial").val();
            var numeroafiliado = $("#id_numeroafiliado").val();
            var observacion = $("#id_observaciones").val();            

            var JsonObj = new Object();

            JsonObj = {
                "paciente": id_paciente,
                "paciente_obrasocial": paciente_obrasocial,
                "obrasocial": obrasocial,
                "numeroafiliado": numeroafiliado,
                "observaciones": observacion,
            }

            $.ajax({
                type: "POST",
                url: "/ajax-editarpacienteobrasocial/",
                data: {
                    datos: JSON.stringify(JsonObj),
                }, 
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('<tr id="' + item.id_obrasocial + '">').append(
                            $('<td>').text(item.id_pacienteobrasocial),
                            $('<td>').text(item.descripcion),
                            $('<td>').text(item.numeroafiliado),
                            $('<td>').text(item.observaciones),
                            $('<td>').html('<button type="button" class="btn btn-link btn-sm btnSelect" onclick="javascript:LeerFilaTablaModal()"><i class="fas fa-pencil-alt"></i></button>')).appendTo('#tabla-pacienteobrasocial')
                    });
                    LimpiarFormularioModal();
                }
            });

            editar = false;
        }


        function GrabarPacienteObraSocial(){
            LimpiarTablaModal();


            if(editar==true){
                EditarPacienteObraSocial()
            }else{

                var str_url = window.location.href;
                str_url = str_url.split("/");
                var id_paciente = str_url.slice(-2)[0]

                var obrasocial = $("#id_obrasocial").val();
                var numeroafiliado = $("#id_numeroafiliado").val();
                var observacion = $("#id_observaciones").val();            

                var JsonObj = new Object();

                JsonObj = {
                    "paciente": id_paciente,
                    "obrasocial": obrasocial,
                    "numeroafiliado": numeroafiliado,
                    "observaciones": observacion,
                }

                $.ajax({
                    type: "POST",
                    url: "/ajax-nuevopacienteobrasocial/",
                    data: {
                        datos: JSON.stringify(JsonObj),
                    }, 
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('<tr id="' + item.id_obrasocial + '">').append(
                                $('<td>').text(item.id_pacienteobrasocial),
                                $('<td>').text(item.descripcion),
                                $('<td>').text(item.numeroafiliado),
                                $('<td>').text(item.observaciones),
                                $('<td>').html('<button type="button" class="btn btn-link btn-sm btnSelect" onclick="javascript:LeerFilaTablaModal()"><i class="fas fa-pencil-alt"></i></button>')).appendTo('#tabla-pacienteobrasocial')
                        });
                        LimpiarFormularioModal();
                    }
                });
            }
            editar = false; 
        }

        function IrListadoPaciente() {
            window.location.replace("/pacientelistado");
        }

        function LimpiarFormularioModal(){
            $("#id_obrasocial").val("");
            $("#id_numeroafiliado").val("");
            $("#id_observaciones").val("");
        }

        function LimpiarTablaModal(){
            $("#tabla-pacienteobrasocial > tbody").html("");
        }

        function LeerFilaTablaModal(){
            
            $("#tabla-pacienteobrasocial").on('click','.btnSelect',function(){
                var fila=$(this).closest("tr");
                paciente_obrasocial=fila.find("td:eq(0)").text();

                var nroafiliado=fila.find("td:eq(2)").text();
                var observaciones=fila.find("td:eq(3)").text();

                $("#id_obrasocial").val(fila[0].id);
                $("#id_numeroafiliado").val(nroafiliado);
                $("#id_observaciones").val(observaciones);
            });

            editar = true;
            return editar;
        }


    </script>

{% endblock %}